################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Chapter07ProgramTableOfSquaresPROJ/v16/Server/sqlite3
